.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #faf8fb;
    border-radius: 10px;
    border: solid #0a0909;
    align-items: center;  
    width: 499px;
}
.user img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px; 
    border-radius: 50%;  
    background-color: #0a0909;
}
.userName{
    font-weight: bold;
}
.user p {
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
}
.user ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0;
   
}
.user li{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 201px;
    height: 100%;
    padding: 10px;
    text-align: center;
    border: solid #706d71ee;
    background-color: rgb(145, 140, 148);
}
li span{
    display: block;
  
}
li span:first-child {
    font-weight: bold;
}
