.friendlist ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
    margin: 0;
}
.friendlist li{
    flex-direction: column;
    align-items: center;
     background-color: rgb(247, 241, 248);
    text-align: center;
    border: solid rgb(115, 111, 118);
   border-radius: 5px; 
   padding: 10px;
   width: 70px;
}